body{
  background-image: url(back.jpg);
  text-align: center;
}
h1{
  font-size: 2em;
  color: purple;
  font-weight: bold;
}
h2{
  color: blue;
  font-size: 1.5em;
  font-weight: lighter;
}
p{
  font-size: 1.5em;
  color: brown;
}
ol{
  text-align: center;
}
li{
  text-align: center;
}
